<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="footer__content">
                    <div class="footer__item">
                        <span class="footer__title">Company</span>
                        <ul class="footer__list">
                            <li><a href="about.html">About Us</a></li>
                            <li><a href="news.html">News</a></li>
                            <li><a href="catalog.html">Catalog</a></li>
                            <li><a href="account.html">Account</a></li>
                        </ul>
                    </div>

                    <div class="footer__item">
                        <span class="footer__title">Services</span>
                        <ul class="footer__list">
                            <li><a href="getintouch.html">Get in touch</a></li>
                            <li><a href="payment.html">Payment</a></li>
                            <li><a href="delivery.html">Delivery</a></li>
                            <li><a href="refund.html">Exchange and refund</a></li>
                        </ul>
                    </div>

                    <div class="footer__item">
                        <span class="footer__title">Follow</span>
                        <ul class="footer__list">
                            <li><a href="#" target="_blank">Facebook</a></li>
                            <li><a href="#" target="_blank">Twitter</a></li>
                            <li><a href="#" target="_blank">Instagram</a></li>
                            <li><a href="#" target="_blank">YouTube</a></li>
                        </ul>
                    </div>

                    <div class="footer__item">
                        <span class="footer__title">Contacts</span>

                        <p class="footer__text">8258 Hickory Ave. <br>Oxford, MS 38655</p>

                        <p class="footer__text">
                            <a href="tel:88003330044">8 800 333 00 44</a><br>
                            <a href="mailto:support@shum.template">support@shum.template</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="footer__copyright">
                    <small>© 2020 SHUM. Create by <a href="https://themeforest.net/user/dmitryvolkov/portfolio" target="_blank">Dmitry Volkov</a></small>

                    <div>
                        <a href="privacy.html">Terms of Use</a>
                        <a href="privacy.html">Privacy Policy</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
