<header class="header header--dark">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="header__content">
                    <div class="header__bar header__bar--left">
                        <button class="header__catalog" type="button">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="title">catalog</span>
                        </button>
                    </div>

                    <div class="header__bar header__bar--center">
                        <a href="index.html" class="header__logo">
                            <img src="img/logo.svg" alt="">
                        </a>
                    </div>

                    <div class="header__bar header__bar--right">
                        <a href="#" class="header__phone">
                            8 800 333 00 44
                        </a>

                        <button class="header__search" type="button">
                            <i class="lnr lnr-magnifier"></i>
                        </button>

                        <a href="cart.html" class="header__cart">
                            <i class="lnr lnr-cart"></i>
                            <span>2</span>
                        </a>

                        <button class="header__menu" type="button">
                            <span></span>
                            <span></span>
                            <span></span>
                        </button>
                    </div>

                    <form action="#" class="header__form">
                        <input type="text" placeholder="Press enter to search">
                        <button type="button">
                            <span></span>
                            <span></span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</header>