<div class="menu">
    <div class="menu__actions">
        <a href="#city" class="menu__location">
            <i class="lnr lnr-location"></i>
            <span>Minsk</span>
        </a>

        <button class="menu__search" type="button">
            <i class="lnr lnr-magnifier"></i>
        </button>

        <button class="menu__btn" type="button">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>

    <nav class="menu__nav">
        <a href="account.html">Account</a>
        <a href="catalog.html">Catalog</a>
        <a href="news.html">News</a>
        <a href="about.html">About</a>
        <a class="menu__drop" href="#">Pages</a>
        <a th:href="login">Log In</a>
        <a th:href="register">Sign Up</a>
        <a th:href="logout">Log Out</a>


    </nav>

    <div class="menu__submenu">
        <button type="button"><i class="lnr lnr-arrow-left"></i> Back</button>

        <nav>
            <a href="product.html">Product style 1</a>
            <a href="product2.html">Product style 2</a>
            <a href="cart.html">Cart</a>
            <a href="checkout.html">Checkout</a>
            <a href="delivery.html">Delivery</a>
            <a href="getintouch.html">Get in touch</a>
            <a href="payment.html">Payment</a>
            <a href="privacy.html">Privacy</a>
            <a href="refund.html">Refund</a>
            <a href="article.html">Article</a>
        </nav>
    </div>
</div>